body{
    /* overflow: hidden; */
}
/* Navbar */

#web_navbar{
    flex-direction: column;
    position: sticky;
}
#nav2 ul li a{
    padding: 5px;
    font-size: 1.0rem;
    
}
.nav2_list{
    gap: 6px;
}
/* Home */
#home{
    height:280px;
    padding: 3px 119px;
}
#home::before{
    height: 450px;
}
.p1{
    font-size: 10px;
}
.btn{
    margin-bottom: 55px;
    margin-top: 7px;
    height: 33px;
    width: 145px;
}
/* Service Section */
#services{
    
    flex-direction: column;
}
/* client Section */
#clients{
    flex-wrap: wrap;
}
.client-item img{
    width:100px;
    padding: 11px;
    height: 95px;
}
/* Utility primary */
.h-primary{
    font-size: 14px;
    margin-top: 10px;
}
/* contact Section */
.button{
    margin-left: 2%;
}
#contact-box label{
    font-size: 0.8rem;
}