* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    cursor: auto;
}

a {
    text-decoration: none;
}

.logo{
    width: 90px;
    height: 75px;
    /* border: 2px solid black; */
    /* border-radius: 50%; */
    /* background-color: blue; */
}

.logo img {
    width: 100%;
    height: 100%;
}

#web_navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    /* background-color: rgba(92, 88, 88, 0.43); */
    /* padding: 3px 40px; */
    /* margin: 20px; */
}
#web_navbar::before{
    opacity: .5;
}

#nav1 {
    /* background-color: red; */
}

#nav2 {
    /* background-color: green; */
    width: 50%;
    margin-right: 14px;
}
.nav2_list{
    display: flex;
    flex-direction: row;
    /* justify-content:center; */
    gap: 0px;
}

.item_link{
    color: rgb(227, 221, 221);
    font-size: 21px;
}

.item_link:hover {
    font-weight: bold;
}

.list_item{
    /* background-color: blue; */
    /* border-bottom:2px solid black; */
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_line{
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    background-color: #fff8f8;
    transition: transform 0.4s ease;
}
.item_link:hover .item_line {
    width: 100%;
    transform: scaleX(1);
}
/* home page */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    align-items: center;
    padding: 3px 200px;

}
/* #home::before{
    content: " ";
    position: absolute;
    background:url(./image/food1.jpg)no-repeat center center/cover;
    height: 600px;
    width: 100%;
    z-index:-1;
    opacity: 0.8;
    top: 0;
    left: 0;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
} */

.bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    opacity: 0;
    /* animation: fade 4s infinite; */
    z-index: -1;
}

#bg1 {
    background-image: url("./image/food1.jpg");
    animation-delay: 0s;
    /* opacity: 1; */
}

#bg2 {
    background-image: url("./image/food2.jpg");
    animation-delay: 2s;
    /* opacity: .4; */
}

#bg3 {
    background-image: url("./image/food3.jpg");
    animation-delay: 4s;
    opacity: 1;
}

@keyframes fade {
    0%   { opacity: 0.5; }
    10%  { opacity: 1; }
    30%  { opacity: 1; }
    40%  { opacity: 0.5; }
    100% { opacity: 0.5; }
}

.h-primary{
    font-size: 2.3rem;
    color:rgb(255, 255, 255);
    font-family: "PT Serif", serif;
    font-weight: bold;

}
.p1{
    color: rgb(184, 182, 178);
    font-family: "Lexend", sans-serif;

}
.btn{
    padding: 4px;
    margin: 7px;
    background-color: b0a9a2d6;
    color: #120101;
    border: 2px solid #5b0303;
    font-weight: 200;
    border-radius: 12px;
    font-size: 1.3rem;
    transition: transfrom .4s ease-in;
}
.btn:hover{
    background-color: rgb(91, 97, 97);
    cursor:pointer;
    transform: scaleX(1);
}