* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    cursor: auto;
}

a {
    text-decoration: none;
}

.logo{
    width: 90px;
    height: 75px;
    /* border: 2px solid black; */
    /* border-radius: 50%; */
    /* background-color: blue; */
}

.logo img {
    width: 100%;
    height: 100%;
}

#web_navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    /* background-color: rgba(92, 88, 88, 0.43); */
    /* padding: 3px 40px; */
    /* margin: 20px; */
}
#web_navbar::before{
    opacity: .5;
}

#nav1 {
    /* background-color: red; */
}

#nav2 {
    /* background-color: green; */
    width: 50%;
    margin-right: 14px;
}
.nav2_list{
    display: flex;
    flex-direction: row;
    /* justify-content:center; */
    gap: 0px;
}

.item_link{
    color:whitesmoke;
    font-size: 21px;
}

.item_link:hover {
    font-weight: bold;
}

.list_item{
    /* background-color: blue; */
    /* border-bottom:2px solid black; */
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_line{
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: center;
    background-color: #fff8f8;
    transition: transform 0.4s ease;
}
.item_link:hover .item_line {
    width: 100%;
    transform: scaleX(1);
}
/* home page */
#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 303px;
    align-items: center;
    padding: 3px 200px;

}
/* #home::before{
    content: " ";
    position: absolute;
    background:url(./image/food1.jpg)no-repeat center center/cover;
    height: 600px;
    width: 100%;
    z-index:-1;
    opacity: 0.8;
    top: 0;
    left: 0;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
} */

.bg {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    height: 400px;
    opacity: 0;
    margin: 0px;
    /* animation: fade 4s infinite; */
    z-index: -1;
}

#bg1 {
    background-image: url("./image/food1.jpg");
    animation-delay: 0s;
    /* opacity: 1; */
}

#bg2 {
    background-image: url("./image/food2.jpg");
    animation-delay: 2s;
    /* opacity: .4; */
}

#bg3 {
    background-image: url("./image/food3.jpg");
    animation-delay: 4s;
    opacity: .7;
}

@keyframes fade {
    0%   { opacity: 0.5; }
    10%  { opacity: 1; }
    30%  { opacity: 1; }
    40%  { opacity: 0.5; }
    100% { opacity: 0.5; }
}

.h-primary{
    font-size: 3.2rem;
    color:rgb(255, 255, 255);
    padding: 12px;
    font-family: "PT Serif", serif;
    font-weight: bold;
    text-align: center;
}
.h-primary-center{
    font-size: 2.8rem;
    color:black;
    padding: 14px;
    padding-top: 7px;
    padding-bottom: 1px;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
    text-align: center;
}

.h-secondary{

   font-size:1.8rem;
     font-family:"Lexend", sans-serif;;
     text-align: center;
   padding: 13px;
}
.p1{
    color: rgb(184, 182, 178);
    font-family: "Lexend", sans-serif;

}
.btn{
    padding: 4px;
    margin: 7px;
    background-color: b0a9a2d6;
    color: #120101;
    border: 2px solid #5b0303;
    font-weight: 200;
    border-radius: 12px;
    font-size: 1.3rem;
    transition: transfrom .4s ease-in;
}
.btn:hover{
    background-color: rgb(91, 97, 97);
    cursor:pointer;
    transform: scaleX(1);
}
/* Service box */
.services-container{
    margin: 10px;
}
    #services{
        margin: 33px;
        display: flex;
        gap: 23px;
    }
    #services .box{
        border: 2px solid black;
        background-color: #ff9e9e;
        border-radius: 18px;
        padding: 17px; 
    }
    #services .box img{
      height: 170px;
      display: block;
       margin: auto;
    }
#services .box p{
        font-family: "Lexend", sans-serif;
    }
    /* client Section */
    #client-section{
        position: relative;
        height: 300px;
        
    }
#clients{
   display: flex;
   justify-content:center;
   align-items: center;
}
.client-item img{
    height: 166px;
    width: 308px;
    padding: 20px;
}
#client-section::before{
    content: "";
    position: absolute;
     background: url('./image/food1.jpg') no-repeat center center/cover;
     width: 100%;
     height: 100%;
     z-index: -1;
     opacity: .5;
}
/* Contact Section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .6;
    background: url('./image/contact.jpg') no-repeat center center/cover;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    background-color: black;
    color: white;
    padding: 12px;
}
#contact-box input,
#contact-box textarea
{
    width: 100%;
    padding: 10px;
}
#contact-box{
    justify-content: center;
    align-items: center;
    display: flex;
    padding-bottom: 40px;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;       
    font-family: "Lexend", sans-serif;
  border-radius: 9px;
  font-size: 1.6 rem;
}
.button{
    width: 100px;
    padding: 7px;
    height: 36px;
    margin-left: 13%;
    margin-top: 10px;
    font-size:19px;
    padding: 5px;
    
    
  /* border-radius: 50%; */
    border: 2px solid black;
    font-family: "Lexend", sans-serif;
    cursor: pointer;
   background-color: #c1b7b7ef;
   color:blac;
}
.button:hover{
    background-color:#867777dc;
    border:3px solid black;
}
.btn-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width:95%;
}